.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
nav {
  width: 20vw;
  background-color: #282c34;
}
ul {
  list-style: none;
}
.menu-item:hover {
  background-color: #16284b;
}
