.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  width: 100vw;
  display: grid;
  background-color: blanchedalmond;
}
nav {
  width: 20vw;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  position: absolute;
  left: 0px;
  top: 10vh;
  z-index: 1;
}
.display {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
button {
  height: 25px;
}
ul {
  margin-top: -25px;
  padding: 0;
  width: 25vw;
  list-style: none;
  background-color: brown;
  cursor: pointer;
}
.menu-item {
  padding: 1vw;
  padding-left: 55px;
}
.menu-item:hover {
  background-color: #16284b;
}
